body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    min-height: 100vh;
    background: #EAC696;
    margin: 0;

    color: #65451F;
    font-family: 'Josefin Sans', sans-serif;
}

.header{
    background: #765827;
    text-align: center;
    width: 100%;
    
}

.content{
    background: #C8AE7D;
    width: 100%;
    padding-bottom: auto;
}

.items{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    /* flex: 1; */
    margin: 0;
    padding: 2rem;

    justify-content: center;
}

.items_item{
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    text-align: center;
    height: 10rem;
    width: 10rem;
    margin: 1px;
}

button{
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
}

.reset{
    height: 10rem;
    width: 10rem;
    margin: auto;
}

.results{
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid gray;
}


.footer{
    background:  #765827;
    text-align: center;
    padding: 0.5rem;
    width: 100%;

    margin-top: auto;
}