body{
    background: rgb(135, 83, 83);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
.results {
    text-align: center;
    color: black;   
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-basis: 2rem; */
}

.items_item {
    flex: 1;
    height: 10rem;
    width: 10rem;
    text-align: center;
}

button {
    /* flex: 1; */
    max-width: 10rem;
    height: 100%;
    
}

img {
    width: 100%;
    
}

#rock {
    border: 2px solid black;
}

#paper {
    border: 2px solid grey;
}

#scissors {
    border: 2px solid steelblue;
}

#rock:hover,
#paper:hover,
#scissors:hover {
    border-width: 4px;
}